@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  background-color: #FFFFFF;
  color: #000000;
}

.navigation {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
  gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 140px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.navigation-user {
  max-width: 320px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 22px;
  min-height: 22px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-user-quantity {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  background-position: right;
}

.navigation-user-button {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  gap: 10px;
  border-radius: 4px;
  flex-wrap: wrap;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  min-width: 160px;
  min-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}

.main-container {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
  background: #FFFFFF;
}

.hero {
  display: block;
  background-image: url(../images/white-element.svg), url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  text-align: center;
  color: #000000;
  background-color: #0000004D;
  background-position: center bottom, center top;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 70px;
  padding-right: 70px;
}

.welcome-image {
  width: 460px;
  padding: 50px 300px;
  margin: 0;
}

.advantages-basic {
  display: block;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 65px 200px 5px 200px;
  flex-direction: column;
  width: 660px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background: #FFFFFF;
}

.advantages-text {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 10px 200px 65px 200px;
  flex-direction: column;
  justify-content: center;
  width: 660px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.advantages-list {
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}


.photo {
  display: block;
  width: 400px;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0;

}

.columns-advantages {
  display: block;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0;
}


.advantages-item {
  background-color: #83B3D333;
}

.photo-advantages-item {
  display: flex;
    color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-title {
  display: block;
  padding: 0;
  margin: 0;
  width: 230;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  display: block;
  padding: 0;
  margin: 0;
  width: 230;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;

}

.advantages-title,
.advantages-description {
  padding: 30px 100px 30px 100px;
  display: block;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;


}

.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;

  list-style-type: none;
}

.infrastructure-basic {
  display: inline-block;
  vertical-align: bottom;
  justify-content: space-around;
  align-content: space-evenly;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 55px 270px 5px 270px;
  flex-direction: column;
  width: 520px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  align-items: baseline;
  align-self: center;
}

.infrastructure-text {
  display: inline-block;
  margin: 0;
  justify-content: center;
  vertical-align: bottom;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 5px 270px 55px 270px;
  flex-direction: column;
  width: 520px;
  height: 26px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
}

.infrastructure-item {
  background-color: #83B3D31F;
}

.food-infrastructure-item {
  background-color: #FFFFFF;
}

.infrastructure-title {
  display: block;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 180px 85px 15px 85px;
  width: 230px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.infrastructure-description {
  display: block;
  flex-direction: column;
  justify-content: center;
  text-indent: 25px;
  margin: 0;
  padding: 15px 85px 80px 85px;
  width: 230px;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.search-basic {
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  vertical-align: bottom;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 90px 230px 5px 230px;
  width: 600px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.search-text {
  display: inline-block;
  justify-content: center;
  vertical-align: bottom;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 5px 230px 50px 230px;
  width: 600;
  font-style: normal;
  font-weight: 400;
}


.search-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 400px;
  margin-left: auto;
  margin-bottom: 94px;
  padding: 8px 34px 8px 34px;
  min-width: 376px;
  min-height: 52px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.subscribe-page {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  background-color: #0000004D;
  margin: 0;
  padding: 0;
}

.subscribe-header {
  display: block;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 90px 280px 5px 280px;
  width: 500px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  align-items: center;
  text-transform: uppercase;
}

.subscribe-text {
  display: block;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 5px 280px 25px 280px;
  width: 500px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin: 0;

}

.subscribe-label .subscribe-input {
  display: block;
  border-radius: 4px;
  padding: 12px 20px;
  width: 800px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;

}

.subscribe-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  color: #FFFFFF;
  background-color: #82B3D3;


}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
  padding: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.social-column {
  display: flex;
  margin: 0;
  margin-top: 40px;
  margin-left: 70px;
  margin-bottom: 30px;
  margin-right: 70px;
  padding: 0;
  white-space: nowrap;

}

.vkontakte {
  background-image: url("../images/social-networks/vkontakte.svg");
  background-repeat: no-repeat;
  background-size: auto;
  text-decoration: none;
  display: block;
  width: 48px;
  height: 40px;
  padding: 13 13px;
  gap: 10px;
  justify-content: center;
}

.telegram {
  background-image: url("../images/social-networks/telegram.svg");
  background-repeat: no-repeat;
  background-size: auto;
  text-decoration: none;
  display: block;
  width: 48px;
  height: 40px;
  padding: 13 13px;
  gap: 10px;
  justify-content: center;
}

.youtube {
  background-image: url("../images/social-networks/youtube.svg");
  background-repeat: no-repeat;
  background-size: auto;
  text-decoration: none;
  display: block;
  width: 48px;
  height: 40px;
  padding: 13 13px;
  gap: 10px;
  justify-content: center;
}

.contact-telephone {
  display: block;
  justify-content: center;
  list-style-type: none;
  white-space: nowrap;
  width: 720px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.contact-website-htmlacademy {
  display: block;
  justify-content: end;
  background-image: url("../images/html-academy.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 115px;
  height: 33px;
  padding: 0;
  margin-bottom: 35px;
}

.main-internal {
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.filter {
  background-image: url(../images/background-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-hotels {
  display: block;
  margin-left: 70px;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 4px;
  margin-top: 0;
  margin-bottom: 0;
  width: 500px;
  height: 78px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  display: block;
  margin-left: 70px;
  padding-top: 4px;
  margin-bottom: 0;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.filter-hotels-form {
  display: grid;
  grid-template-columns: 155px 155px 300px 200px;
  gap: 70px;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 40px 70px 70px 70px;
  flex-wrap: wrap;
  text-decoration: none;
}

.filter-title {
  display: block;
  padding-bottom: 8px;
  margin: 0;
  min-width: 150px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  color: #FFFFFF;
}

.filter-item {
  display: block;
  padding: 8px;
  margin: 0;
  min-width: 150px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.filter-title-number {
  display: block;
  flex-direction: row;
  padding: 0;
  margin: 0;
  min-width: 150px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  color: #FFFFFF;
}

.filter-number {
  display: grid;
  grid-template-columns: 150px 150px;
  flex-direction: row;
  padding: 32px 0;
  margin-left: 70px;

}

.filter-input-number {
  display: block;
  padding: 0;
  margin: 0;
  width: 140px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.filter-button {
  margin-top: 50px;
  margin-left: 70px;
  padding: 0;
}

.button-submit {
  margin-bottom: 16px;
  display: block;
  padding: 0;
  width: 191px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-reset {
  margin: 0;
  padding: 0;
  display: block;
  width: 191px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}


.select-control {
  display: flex;
  flex-direction: row;
  margin-top:  50px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
  padding: 0;
  flex-wrap: nowrap;
}

.select-control-basic {
  display: block;
  padding: 0;
  margin: 0;
    width: 350px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.select-control-list {
  display: block;
  margin-left: 200px;
  padding: 14px 20px;
  width: 300px;
  height: 50px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.button-table {
  display: block;
  box-sizing: border-box;
  margin-left: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #E6E6E6;
  width: 50px;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/sorting/table.svg");
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: lowercase;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;

}

.button-one {
  display: block;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 14px 12px;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/sorting/one.svg");
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
  background-color: #FFFFFF;
}

.button-list {
  display: block;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  width: 50px;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/sorting/list.svg");
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
  background-color: #FFFFFF;
}

.hotel-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;

}

.hotel-card {
  grid-template-rows: 300px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
}

.column-hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  flex-direction: column;
  gap: 20px;

}
.hotel-card-title {
  grid-template-rows: 300px;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;

}

.hotel-card-type,
.hotel-card-price {
  grid-template-rows: 300px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.button-more {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.button-favorites-active {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  text-decoration: none;
  background-color: #7DB54F;
}

.button-favorites {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  background-color: #82B3D3;
}


.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  white-space: nowrap;
  margin-left: 70px;
  margin-right: 70px;
  gap: 8px 8px;
}


.pagination-link {
  display: block;
  box-sizing: border-box;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  padding: 8px;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;

}

.pagination-next {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}
