@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #F2F2F2;
  height: 100%;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;

}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.logo {
  margin: 0;
  width: 138px;
  height: 64px;
  margin-left: 70;
  margin-right: 30;
}

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;

}

.navigation-list {
  flex-direction: row;
  align-items: center;
  width: 464px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.navigation-user {
  max-width: 313px;
  margin-left: auto;

}

.navigation-user-quantity {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  background-position: right;
}


.navigation-user-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 14 70px;
  width: 160px;
  height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}

.main-container {
  flex-grow: 1;
}

.main-part {
  background-color: #FFFFFF;
}

.hero {
  background-image: url(../images/white-element.svg), url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  text-align: center;
  color: #000000;
  background-color: #0000004D;
  background-position: center bottom, center top;
}

.advantages-basic {
  display: flex;
  margin: 0;
  padding: 0 290px;
  flex-direction: column;
  justify-content: center;
  width: 620px;
  height: 72px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background: #FFFFFF;
}

.advantages-text {
  display: flex;
  margin: 0;
  padding: 0 274px;
  flex-direction: column;
  justify-content: center;
  width: 651px;
  height: 26px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.photo-advantages-item {
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;
  align-items: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.columns-advantages-item {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  width: 400px;
  align-items: center;
  background-color: #83B3D333;
}

.advantages-title {
  width: 175px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  width: 230px;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.infrastructure-basic {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 347px;
  justify-content: center;
  flex-direction: column;
  width: 505px;
  height: 72px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  align-items: center;
}

.infrastructure-text {
  display: flex;
  margin: 0;
   padding: 0 355px;
  flex-direction: column;
  justify-content: center;
  width: 490px;
  height: 26px;
  font-style: normal;
  font-weight: 400;
  align-items: center;
}

.infrastructure-item {
  background-color: #83B3D31F;

}

.infrastructure-title {
  align-items: center;
  padding: 0 85px;
  width: 230px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.infrastructure-description {
  align-items: center;
  padding: 0 85px;
  width: 230px;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.search-basic {
  margin-left: 452px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 297px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.search-text {
  margin-left: 304px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 592;
  font-style: normal;
  font-weight: 400;
}

.search-button {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
   width: 376px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.subscribe-page {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
  background-color: #0000004D;
}

.subscribe-header {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  align-items: center;
  text-transform: uppercase;
}

.subscribe-text {
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.subscribe-email {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
  background-color: #FFFFFF;
  height: 24px;
}

.subscribe-button {
  flex-direction: row;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.page-footer {
  color: #000000;
  background-color: #FFFFFF;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }


.vkontakte {
  background-image: url("../images/social-networks/vkontakte.svg");
  background-repeat: no-repeat;
  background-size: auto;
  text-decoration: none;
}

.telegram {
  background-image: url("../images/social-networks/telegram.svg");
  background-repeat: no-repeat;
  background-size: auto;
  text-decoration: none;
}

.youtube {
  background-image: url("../images/social-networks/youtube.svg");
  background-repeat: no-repeat;
  background-size: auto;
  text-decoration: none;
}

.contact-phon {
  width: 331px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.contact-website-htmlacademy {
  background-image: url("../images/html-academy.svg");
  background-repeat: no-repeat;
  background-size: auto;
}

.main-internal {
  color: #000000;
  background-color: #FFFFFF;
}

.filter {
  background-image: url(../images/background-filter.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;

}

.filter-hotels {
  padding: 0;
  margin: 0;
  width: 500px;
  height: 78px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  background-color: #0000004D;
}

.breadcrumbs-link {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #0000004D;
  text-decoration: none;
  text-align: center;
}

.filter-hotels-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.filter-title {
  margin: 0;
  padding: 0;
  width: 155px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  color: #FFFFFF;
  background-color: #0000004D;
}

.control-input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #0000004D;
}

.filter-item {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #0000004D;
}

.button-submit {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  width: 191px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-reset {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  width: 191px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;

}

.select-control {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  background-color: #FFFFFF;
}

.select-control-list {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.button-table {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/sorting/table.svg");
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: lowercase;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;

}

.button-one {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/sorting/one.svg");
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
  background-color: #FFFFFF;
}

.button-list {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-image: url("../images/sorting/list.svg");
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: lowercase;
  color: #000000;
  background-color: #FFFFFF;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #FFFFFF;
}

.hotel-card-type hotel-card-price {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
}

.button-more {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.button-favorites-active {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  text-decoration: none;
  background-color: #7DB54F;
}

.button-favorites {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 36px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  background-color: #82B3D3;
}

.pagination-item {
  font-family: 'PT Sans';
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  text-decoration: none;
}

.pagination-item-current {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #F2F2F2;
}

pagination-item-next {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;

}
